<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>

          
		<title> A brief, clear, informative, and unique title</title>
		<!-- the rest of the page content --> 

        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href= "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" herf="https://fonts.googleapis.com/css2?family=Hummer&display=swap">
        <link href="css/style.css" rel="stylesheet">
        <link rel="manifest" href="/webmanifest.json">
        <meta name="theme-color" content="#9d86b3"/>
        <link rel="apple-touch-icon" href="/apple-icon-180x180-seochecker-manifest-6519.jpg">
        <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <button id="install" style="display:none;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Installieren
        </button>
  


    
    
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#" style="color: rgb(20, 15, 15)">SUB-POSTEN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-change-color nav-item active">
        <a class="nav-link" href="/post/get" style="color: rgb(24, 21, 21)">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-change-color nav-item active">
        <a class="nav-link" href="/post" style="color: rgb(18, 17, 17)">New Post</a>
      </li>
    </ul>
  </div>
</nav>